.root {
  height: 100vh;
  max-height: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15%;
}

.root h1 {
  font-size: 3.5vw;
  font-weight: 700;
  letter-spacing: 0.08vw;
  line-height: 130%;
  margin-bottom: 2.5vw;
}

.root p {
  font-size: 2vw;
  font-weight: 400;
  color: #8b8b8b;
  letter-spacing: 0.05vw;
  line-height: 180%;
}

.root p strong {
  font-weight: 400;
  color: white;
}

.root a {
  white-space: nowrap;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .root {
    height: 60vh;
    padding: 0 5%;
  }
  .root h1 {
    font-size: 7vw;
  }

  .root p {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 480px) {
  .root {
    height: 90vh;
    max-height: 160vw;
    padding: 0 5%;
  }

  .root h1 {
    font-size: 10vw;
    letter-spacing: 0.08vw;
    line-height: 13vw;
    margin-bottom: 4vw;
  }

  .root p {
    font-size: 5vw;
    letter-spacing: 0.05vw;
    line-height: 9vw;
  }
}

@media screen and (min-width: 1600px) {
  .root h1 {
    font-size: 60px;
    letter-spacing: 1.4px;
    margin-bottom: 44px;
  }

  .root p {
    font-size: 32px;
    letter-spacing: 0.9px;
    line-height: 56px;
  }
}
