.root {
  display: flex;
  justify-content: space-between;
  margin: 64px;
}

.item {
  padding: 32px;
  flex: 1;
}

.item h3 {
  font-size: 35px;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.item p {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.47px;
  line-height: 34px;
  margin-bottom: 32px;
}

.item button {
  display: inline-block;
  background-color: transparent;
  width: 180px;
  height: 44px;

  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.42px;

  border: 2px solid #ffffff;
  border-radius: 12px;

  transition: all 0.1s;
}

.item button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 850px) {
  .root {
    flex-direction: column;
    margin: 16px;
  }
  .item {
    padding-bottom: 24px;
  }
}
