.root {
  display: flex;
  justify-content: space-between;
  padding: 64px 32px;
  height: 70px;
  align-items: center;
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
}

.root a {
  color: grey;
  font-size: 13px;
  transition: color 0.5s;
  text-decoration: none;
}

.root a:hover {
  color: white;
}

.smbuttons a {
  padding-left: 16px;
}

@media screen and (max-width: 568px) {
  .root {
    padding: 32px 12px;
  }
}
