.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 40px;
}

.title {
  width: 20%;
  font-size: 17px;
  color: #8b8b8b;
  line-height: 34px;
}

.body,
.body p {
  width: 100%;
  font-size: 17px;
  color: #eeeeee;
  line-height: 34px;
}

.body p {
  padding-top: 0;
  padding-bottom: 0;
}

.body li {
  margin-bottom: 16px;
  line-height: 30px;
}

@media screen and (max-width: 992px) {
  .item {
    flex-direction: column;
    padding: 16px 0;
  }

  .title {
    width: 100%;
    font-size: 16px;
    line-height: 32px;
  }

  .body {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
  }
}

@media screen and (max-width: 480px) {
  .item {
    list-style-position: inside;
  }
}
