.root {
}

.header {
  width: 100%;
  height: 650px;
}

.header .title {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header h1 {
  color: #000000;
  font-weight: 900;
  width: 60%;
  padding-left: 14%;
}

.content {
  margin-top: 96px;
  margin-bottom: 96px;
}
