.root {
}

.imgSeparator {
  width: 100vw;
}

.header {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .title {
  margin: 0;
}

.header h1 {
  color: #000000;
  font-weight: 900;
  width: 60%;
  padding-left: 14%;
}

.content {
  margin-top: 96px;
  margin-bottom: 96px;
}

.imgSeparator {
  width: 100%;
  padding-bottom: 45%;
  height: 0;
}

.imgSeparator img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
