.root {
}

.header {
  margin: 160px 0 96px 0;
}

.header h1 {
  margin-bottom: 24px;
}

.header p {
  font-size: 24px;
  line-height: 48px;
}

.content {
  margin-top: 96px;
  margin-bottom: 96px;
}

.imgSeparator {
  width: 100%;
}

.imgSeparator img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 160px 0 32px 0;
  }

  .header h1 {
    font-size: 32px;
  }
  .header p {
    font-size: 16px;
    line-height: 170%;
  }

  .imgSeparator {
    display: none;
  }

  .content {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {

}
