.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 840px;
}

.root img {
  margin-bottom: 80px;
  border-radius: 10px;
  cursor: pointer;
  flex: 0 0 40%;
}

@media screen and (max-width: 1200px) {
  .root img {
    flex: 0 0 80%;
  }
}

@media screen and (max-width: 480px) {
  .root img {
    margin-top: 8px;
    margin-bottom: 20px;
    width: 100%;
  }
}
