.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 840px;
}

.img_container {
  flex: 0 0 46%;
  margin-bottom: 56px;
  border-radius: 10px;
}

.img_container img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (max-width: 1400px) {
  .img_container {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .img_container {
    flex: 0 0 100%;
    margin-bottom: 24px;
  }
}
