.root {
  padding-top: 160px;
  padding-bottom: 120px;
}

.title {
  padding-bottom: 220px;
}

.filterlinks {
  display: flex;
}

@media screen and (max-width: 992px) {
  .filterlinks {
    display: none;
  }
  .title {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 568px) {
  .root {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .title {
    padding-bottom: 0;
  }
}
