.root {
  padding-top: 160px;
  padding-bottom: 120px;
}

.title {
  padding-bottom: 220px;
}

.filterlinks {
  display: flex;
}

@media screen and (max-width: 992px) {
  .filterlinks {
    display: none;
  }
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

@media screen and (max-width: 568px) {
  .root {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .title {
    padding-bottom: 0;
  }
}
